/gradle.properties
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/compiler.xml
/.idea/.name
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/encodings.xml
/flvv/build
/flvv/libs
/.gradle
/sample/libs
/sample/build
